.transactionHistory{
border-collapse: collapse;
    font-weight: 500;
        
        line-height: 1.18;
        text-align: center;
        justify-content: center;
        background-color: white;
        width: 600px;
        padding-top: 5px;
        margin: auto;
       margin-bottom: 20px;
}

.transactionHistory th{
    
font-size: 13px;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid white;
    color: white;
    background-color: rgb(2, 177, 225);
}
.transactionHistory td{
    font-weight: 500;
    color: rgb(159, 159, 159);
    padding: 10px;
    border: 2px solid rgb(221, 221, 221);
    
}


.transactionHistory tr {
    &:nth-child(2n) {
            background-color: rgb(224, 224, 224);
        }
}